[Unit]
Description=Raspberry Pi Touchscreen Lock Screen
After=graphical.target

[Service]
Type=simple
User=<Graphical User>
Environment="DISPLAY=:0.0"
ExecStart=<Path to touchscreen-lock.py>

[Install]
WantedBy=graphical.target
